#root {
  max-width: 80%;
  min-width: 70%;
  border-radius: 10px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-image: url("https://static.vecteezy.com/system/resources/previews/023/780/648/non_2x/seamless-blurred-yellow-colors-gradient-abstract-design-background-texture-illustration-graphic-template-for-banner-presentation-wallpaper-backdrop-free-vector.jpg");
  /* background-size: cover; */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


